<p class="lead">
  Saschu: Samstagsschule von Eltern für die Schüler des Pestalozzischulhauses.
</p>
<p>
  Einmal pro Jahr bieten Eltern den Kindern das an, was sie selber am liebsten als Schüler hätten.
  <br>
  Der nächste Kurs findet am <strong>Freitag Vormittag am 10. Mai 2012 (TODO: korrektes Datum eintragen)</strong> statt
</p>

<p>
  Mehr Infos findest du im entsprechenden Tab.
</p>

<%= render partial: "courses/list" %>
