<p class="lead">
  Was ist SaSchu – ça joue?
</p>
<p>
  SaSchu ist ein Projekt, das seit 1989 an der Primarschule Pestalozzi durchgeführt wird. Die SaSchu lebt von den
  Eltern,
  Verwandten, Quartierbewohnern und allen Erwachsenen, die bereit sind, mit einer Gruppe von Schülerinnen und Schülern
  etwas
  gemeinsam zu unternehmen.
  <br>
  <b>Bei der SaSchu machen Eltern Schule! </b>
</p>
<p>
  Der nächste SaSchu-Tag findet am <strong>Freitag Vormittag am 3. Mai 2013 (8:20 - 11:50 Uhr)</strong> statt,
</p>

<p>
  Haben Sie Lust mitzumachen? Dann klicken Sie bitte auf das Register
  <strong>Mitmachen</strong>
</p>

<br>
<br>
<h4> Diese Kurse werden bis jetzt angeboten:</h4>
<%= render partial: "courses/list" %>
