<% if State.state_is_kurse_eingeben? %>
    <% if user_signed_in? %>
        <p class="lead">
          Hallo <strong> <%= current_user.name %> </strong>
          Hier kommst du zum Kurs: <%= link_to "Dein Kurs", my_courses_path %>
        </p>
    <% else %>
        <p class="lead">
          Schön, dass Sie einen Kurs anbieten möchten! <br>
          Das sind Ihre Schritte:
        <ul>
          <li>Bitte registrieren Sie sich hier:
            <strong> <%= link_to "registrieren...", new_user_registration_path %></strong></li>
          <li>Beschreiben Sie Ihren Kurs Online, <b>bis am Donnerstag den 14. Februar 2013</b></li>
          <li>Danach erhalten Sie bis zu den Frühlingsferien einen
            Kurszettel mit allen wichtigen Angaben per Post.
          </li>
          <li>am Freitag den 3. Mai den Kurs durchführen!</li>
        </ul>
        </p>
    <% end %>
<% else %>
    <p class="lead">
      Hallo. <br>
      Die Zeit zum Kurse anbieten ist abgelaufen. Nächstes Jahr wieder bestimmt! <br>
      Wenn du einen Kurs anbietest, so kannst du dich einloggen um auf deine Kursseite zu kommen.
      <%= link_to "login", new_user_session_path %>
    </p>
<% end %>