<% if State.state_is_kurse_buchen? %>
    <p class="lead">
      Hallo! Jetzt kannst du deine Lieblingskurse auswählen. <br/>
      Du musst jetzt folgendes machen:
    <ul>
      <li>Dich registrieren. (oben rechts ist der Link)</li>
      <li>Deine Lieblingskurse auswählen</li>
      <li>Warten... Du wirst einem Kurs zugeteilt, hoffentlich deinem Lieblingskurs!</li>
    </ul>
    </p>
<% else %>
    <p class="lead">
      Hallo! Zur Zeit können Eltern ihre Kurse im Saschu beschreiben. Später kannst du dann deine Lieblingskurse auswählen <br/>
      Schaue einfach später nochmals vorbei <br/>
    </p>
<% end %>