<h1>Willkommen auf Saschu!</h1>

<p>
  Bitte logge dich ein oder registriere dich. Die entsprechenden Links findest du oben rechts.
</p>
<p>
  Danach kannst du einen Kursbeschrieb einstellen oder deinen Kurs editieren, beziehungsweise für einen Kurs anmelden.
</p>
