<p class="lead">
  Du hast deine Auswahl getroffen. Unten siehst du deine Lieblingskurse:
</p>

<table class="table table-striped table-bordered">
  <tr>
    <th>Priorisierung</th>
    <th>Titel</th>
    <th>Beschreibung</th>
    <th>Wo er stattfindet</th>
  </tr>

  <% @choosen_courses.each do |cc| %>
      <tr>
        <td><%= cc.priority %></td>
        <td><%= cc.course.title %></td>
        <td><%= cc.course.description %></td>
        <td><%= cc.course.where %></td>
      </tr>
  <% end %>
</table>
