<p>Willkommen bei Saschu, <%= @resource.email %>!</p>

<p>Bitte bestätige deinen Account mit folgendem Link:</p>

<p><%= link_to 'Betätige meinen Account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Danach kannst du deinen Kurs eingeben</p>
