<p>Hallo <%= @resource.email %>!</p>

<p>Du hast eine Email für die Änderung des Passwortes veranlasst. Mit dem unteren Link kannst du das machen</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn du diese Email nicht veranlasst hast, kannst du es ignorieren</p>
<p>Dein Passwort ändert sich nicht falls du nichts unternimmst</p>
