<% if user_signed_in? %>

    <ul class="nav">

      <% if current_user.has_role? :student %>
          <li><%= link_to "Wähle Kurse", choose_courses_path %></li>
      <% end %>
      <% if current_user.has_role? :parent %>
          <li><%= link_to "Mein Kurs", my_courses_path %></li>
      <% end %>
      <% if current_user.is_admin? %>
          <li><%= link_to "Admin", admin_root_path %></li>
      <% end %>

    </ul>
<% end %>