<% if user_signed_in? %>

    <ul class="nav">

      <% if current_user.has_role? :student %>
          <li><%= link_to "student", "/path1" %></li>
      <% end %>
      <% if current_user.has_role? :parent %>
          <li><%= link_to "parent", "/path2" %></li>
      <% end %>
      <% if current_user.is_admin? %>
          <li><%= link_to "admin", admin_root_path %></li>
      <% end %>

    </ul>
<% end %>